body {
  overflow-x: hidden;
  background-color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ico-form {
  display: flex;
  flex-direction: column;
  padding-top: 200px;

}


.ico-form form input {
  width: 100%;
}

.ico-button {
  margin-top: 20px;
  border-radius: 10px;
  padding: 5px 15px;
  border: 1px solid orange;
  background-color: navy;
  color: white;
}

/* Loader */
.loader-outer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 1060;
}

.loader {
  position: relative;
  width: 75px;
  height: 100px;
}

.loader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background: rgb(0, 0, 0);
  transform-origin: center bottom;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.loader__bar:nth-child(1) {
  left: 0px;
  transform: scale(1, 0.2);
  -webkit-animation: barUp1 4s infinite;
  animation: barUp1 4s infinite;
}

.loader__bar:nth-child(2) {
  left: 15px;
  transform: scale(1, 0.4);
  -webkit-animation: barUp2 4s infinite;
  animation: barUp2 4s infinite;
}

.loader__bar:nth-child(3) {
  left: 30px;
  transform: scale(1, 0.6);
  -webkit-animation: barUp3 4s infinite;
  animation: barUp3 4s infinite;
}

.loader__bar:nth-child(4) {
  left: 45px;
  transform: scale(1, 0.8);
  -webkit-animation: barUp4 4s infinite;
  animation: barUp4 4s infinite;
}

.loader__bar:nth-child(5) {
  left: 60px;
  transform: scale(1, 1);
  -webkit-animation: barUp5 4s infinite;
  animation: barUp5 4s infinite;
}

.loader__ball {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: rgb(44, 143, 255);
  border-radius: 50%;
  -webkit-animation: ball624 4s infinite;
  animation: ball624 4s infinite;
}

@keyframes ball624 {
  0% {
    transform: translate(0, 0);
  }

  5% {
    transform: translate(8px, -14px);
  }

  10% {
    transform: translate(15px, -10px);
  }

  17% {
    transform: translate(23px, -24px);
  }

  20% {
    transform: translate(30px, -20px);
  }

  27% {
    transform: translate(38px, -34px);
  }

  30% {
    transform: translate(45px, -30px);
  }

  37% {
    transform: translate(53px, -44px);
  }

  40% {
    transform: translate(60px, -40px);
  }

  50% {
    transform: translate(60px, 0);
  }

  57% {
    transform: translate(53px, -14px);
  }

  60% {
    transform: translate(45px, -10px);
  }

  67% {
    transform: translate(37px, -24px);
  }

  70% {
    transform: translate(30px, -20px);
  }

  77% {
    transform: translate(22px, -34px);
  }

  80% {
    transform: translate(15px, -30px);
  }

  87% {
    transform: translate(7px, -44px);
  }

  90% {
    transform: translate(0, -40px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@-webkit-keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }

  40% {
    transform: scale(1, 0.2);
  }

  50% {
    transform: scale(1, 1);
  }

  90% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 0.2);
  }
}

@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }

  40% {
    transform: scale(1, 0.2);
  }

  50% {
    transform: scale(1, 1);
  }

  90% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 0.2);
  }
}

@-webkit-keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }

  40% {
    transform: scale(1, 0.4);
  }

  50% {
    transform: scale(1, 0.8);
  }

  90% {
    transform: scale(1, 0.8);
  }

  100% {
    transform: scale(1, 0.4);
  }
}

@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }

  40% {
    transform: scale(1, 0.4);
  }

  50% {
    transform: scale(1, 0.8);
  }

  90% {
    transform: scale(1, 0.8);
  }

  100% {
    transform: scale(1, 0.4);
  }
}

@-webkit-keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }

  100% {
    transform: scale(1, 0.6);
  }
}

@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }

  100% {
    transform: scale(1, 0.6);
  }
}

@-webkit-keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }

  40% {
    transform: scale(1, 0.8);
  }

  50% {
    transform: scale(1, 0.4);
  }

  90% {
    transform: scale(1, 0.4);
  }

  100% {
    transform: scale(1, 0.8);
  }
}

@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }

  40% {
    transform: scale(1, 0.8);
  }

  50% {
    transform: scale(1, 0.4);
  }

  90% {
    transform: scale(1, 0.4);
  }

  100% {
    transform: scale(1, 0.8);
  }
}

@-webkit-keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }

  40% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 0.2);
  }

  90% {
    transform: scale(1, 0.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }

  40% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 0.2);
  }

  90% {
    transform: scale(1, 0.2);
  }

  100% {
    transform: scale(1, 1);
  }
}


/* Market-Order */

.market-order {
  margin-top: 77px;

}

.card {
  border: 1px solid #2D2D2D;
}

.card-body {
  background-color: black;

}

.card-main-body {
  background-color: black;
  color: #D3CECE;
}

.card-title,
.card-text {
  color: #D3CECE;
  padding: 2px 16px;
}

.buy-sell-toggle {
  display: flex;
  flex-direction: row;
}

.card-main-body nav {
  padding: 8px 16px;
}

.card-main-body ul li {
  padding: 10px auto;
}

.buy-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 16px 16px;
  margin-bottom: 100px;

}

.buy-menu label input {
  padding: 8px 16px;
  margin: 10px 6px;

}

.buy-menu label,
.order-execute-line,
.buy-footer {
  color: #D3CECE;
}

.buy-menu input {
  border: 1px solid #D3CECE;
  border-radius: 10px;
  background-color: #0e231e;
  color: #0abb92;
  width: 126px;
}

.stock-quantity,
.stock-price-limit {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px 16px;
}

.stock-quantity input,
.stock-price-limit input {
  padding: 5px 10px;
  border: 0px;
  outline: 0px;
  text-align: right;
}

.order-execute-line p {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  border-bottom: 1px solid #D3CECE;
  margin-bottom: 0px;
  font-size: small;
  text-align: center;
}

.buy-footer,
.sell-footer {
  display: flex;
  justify-content: space-between;
}

.buy-footer p,
.sell-footer p {
  padding: 10px 16px;
}

.buy-button,
.sell-button {
  display: flex;
  justify-content: center;
}

.buy-button button,
.sell-button button {
  width: 100%;
  margin: 10px 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #0abb92;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.price-market input {
  color: white;
  background-color: #1d1d1d;
}

/* Nav Link  */
.card-main-body .nav-tabs {
  border: 0;
}

.card-main-body .nav-tabs .nav-link {

  background-color: transparent;
  border: 0;
  border-bottom: 5px solid transparent;
  outline: 0;
  color: #D3CECE;
}

.nav-tabs .nav-link.active {
  color: #0abb92;
  border-color: #0abb92;
}

/* NavBar */

.stock-nav {
  padding: 20px 0;
}

.stock-nav nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  flex-grow: 1;
  position: relative;
  margin-left: 20px;
}

.search-bar input {
  width: 100%;
  padding-left: 40px;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 50%;
  background-color: black;
  border: 0;
  border: 1px solid #2a2a2a;
  color: #D3CECE;
  outline: 0;
}

.search-bar svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;

}

.stock-nav ul {
  display: flex;
  color: #fff;
  column-gap: 20px;
  font-size: 20px;
  margin: 0;
  cursor: pointer;
}

.stock-nav ul li:hover,
.active {
  color: #0abb92;
}

.logo img {
  width: 50px;
}

.logo-title h4 {
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 20px;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

/* Sell */

.sell-footer {
  color: white;
}