.ico-form {
  display: flex;
  flex-direction: column;
  padding-top: 200px;

}

.ico-form form input {
  width: 100%;
}

.ico-button {
  margin-top: 20px;
  border-radius: 10px;
  padding: 5px 15px;
  border: 1px solid orange;
  background-color: navy;
  color: white;
}